.modal-header {
  background-color: #007bff;
  color: white;
  border-bottom: none;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding: 2rem;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border-radius: 0.25rem;
  box-shadow: none;
  border: 1px solid #ddd;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #ffffff; /* Color de fondo al pasar el ratón */
  background-color: #0056b3;
}

.btn-register {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 10px;
}

.btn-register:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-google {
  background-color: white;
  color: #555;
  border: 2px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 20px;
}

.btn-google:hover {
  background-color: #f1f1f1;
  border-color: #ccc;
}
.btn-google {
  background-color: white;
  color: #555;
  border: 2px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-google:hover {
  background-color: #f1f1f1;
  border-color: #ccc;
}

.btn-google i {
  margin-right: 8px;
}