/* src/estilos/Team.css */

.team-section {
    text-align: center;
    padding: 50px 0;
}

.team-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.team-subtitle {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.team-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team-item {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px; /* Ajusta el tamaño según sea necesario */
}

.team-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo la proporción */
    border-radius: 50%; /* Hace que la imagen sea circular */
    transition: opacity 0.3s; /* Agrega una transición suave para cambiar la opacidad */
    cursor: pointer;
}

  .team-item:hover .team-image {
    opacity: 0.7; /* Reduce la opacidad de la imagen cuando el mouse está encima */
  }