/* src/estilos/Work.css */

.work-section {
  margin-top: 200px;
  margin-bottom: 150px;
  text-align: center;
  padding: 50px 0;
}

.work-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.work-categories {
  margin-bottom: 40px;
  font-size: 1.2em;
}

.espacio {
margin-top: -15px;
}
.work-categories span {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color del texto original */
  cursor: pointer;
  color: #333;
}

.no-underline {
  text-decoration: none; /* Asegura que no haya subrayado */
  color: inherit; /* Mantiene el color del texto original */
}

.work-categories span:hover {
  color: #5C2FC2;
}

.work-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Para que las imágenes se envuelvan en varias filas si es necesario */
}

.work-item {
  position: relative;
  width: 300px; /* Ancho fijo para las imágenes */
  height: 350px; /* Alto fijo para las imágenes */
  overflow: hidden; /* Ocultar el contenido desbordado */
  cursor: pointer;
}

.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recortar la imagen para que cubra el contenedor sin deformarse */
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.work-item:hover .work-overlay {
  opacity: 1;
}

.carousel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 80%;
}

.carousel-image {
  max-width:  50%;
  max-height: 50%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 65px;
  right: 20px;
  background: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
    transition: background-color 0.3s;
}
.close-button:hover {
  background-color: #4a00cc; /* Ajusta el color del hover según sea necesario */
}
.prev-button, .next-button {
  position: absolute;
  background: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.prev-button:hover, .next-button:hover {
  background-color: rgb(132, 105, 167);
}
.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}