.btn-container {
  position: fixed;
  bottom: 60px;
  right: 80px; /* Ajustado para la derecha */
}

.btn-volver {
  background-color: #1A2130;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-volver:hover {
  background-color: #538392;
  color:black;
}